*{
    font-family: 'Poppins', sans-serif;   
}

body {
    background: #212121;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;

}

.navbar-dark .navbar-brand {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-brand span {
    color: #9370DB;
}

/* .navbar-dark .navbar-brand:focus, */
.navbar-dark .navbar-nav:hover{
    color: #9370DB;
}
.navbar-item:hover{
    color: #9370db;
}
.navbar-item {
    justify-content: space-around;
}
.w-100 {
    height: 100vh;
}
 



.navbar-light .navbar-nav .navbar-Link{
    color: #000;
}
 




.card-body a {
    width:12rem;
    height: 2.5rem;
    font-weight:500;
    background-color: #a693cc;
    border-radius: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center ;
    color: black;
    text-decoration: none; 
    
}

.card .card-body.btn-default {
    background-color: #9370DB !important;

}
.btn.btn-warning {
    background-color: #9370DB;
}


